<div class="submenu">
    <ul class="menu">
        <li>
            <a routerLink="home" routerLinkActive="active-link">Home</a>
        </li>
        <li>
            <a routerLink="offers" routerLinkActive="active-link">Oferty</a>
        </li>
        <li>
            <a routerLink="blog" routerLinkActive="active-link">Blog</a>
        </li>
        <li>
            <a routerLink="account" routerLinkActive="active-link">Konto</a>
        </li>
        <li>
            <a routerLink="login" routerLinkActive="active-link">Zaloguj się</a>
        </li>
    </ul>
</div>