@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@mixin open-btn {
    border: 2px solid black;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin nerko-font {
    font-family: 'Nerko One', cursive;
}

@mixin lobster-font {
    font-family: 'Lobster Two', cursive;
}

@mixin lato-font {
    font-family: 'Lato', sans-serif;
}

@mixin btn-raised {
    @include lato-font;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.3rem;
        padding: 0.5rem 4rem;
}