.container {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;

    .top-content {
        width: 100%;
        height: 30vh;
    }

    .bottom-content {
        width: 100%;
        height: max-content;
    }
}